[2011-05-10 15:56] mrjohndcarter opened #1 "Problems with notes with multiline 'first lines'"
If a note is a 'wall of text' (example below) -- the first line displayed will be very large.  Perhaps consider limiting by a number of characters if the newline character isn't present within that many characters.

Example (returns entire first paragraph as 'first line'):

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus eros sed sapien congue quis rutrum massa convallis. Aene

[2011-05-10 15:58] mrjohndcarter opened #2 "Not all notes returned by SimpleNote -l"
I'm only seeing about 18 of 64 notes in my account when I list notes.

No real reproduction steps -- I do have 5-8 shared notes.

[2011-05-10 15:59] mrjohndcarter opened #3 "SimpleNote -l displaying trashed notes"
Some of the notes displayed are in the trash.

[2011-05-10 16:09] rdpate opened #4 "Extra errors when auth variables missing"
If g:SimpleNoteUserName or Password aren't set in .vimrc, three errors are reported instead of one. Here is a diff which tests if those variables exist before using them. The error message for missing values is also tweaked.

[code]

[2011-05-10 16:12] rdpate opened #5 "Delay network connection until needed"
I primarily use a laptop, and a network connection is often not available or flaky. Simplenote.vim shouldn't try to connect when it is loaded, and should put off the connection until later.  Otherwise, I have to disable the plugin to even load vim.

It appears the attempt is when calling simple_note_auth on line:

[code]

[2011-05-12 09:33] #3 closed, assigned to mrtazz

[2011-05-12 09:36] #1 closed, assigned to mrtazz

[2011-05-12 13:36] knodalyte opened #6 "list function (-l) shows title and some UID but not first line of note"
Contrary to what the description on www.vim.org says, the list function does not show the first line of the note.  It shows the title plus some text string that looks like some internal identifier - see example line:

selenium_server_log  [agtzaW1wbGUtbm90ZXINCxIETm90ZRjX17AIDA]
1500motsGlobish  [agtzaW1wbGUtbm90ZXINCxIETm90ZRjy8LMIDA]
depecheview-136  [agtzaW1wbGUtbm90ZXINCxIETm90ZRj_xLUIDA]

Thi

[2011-05-12 13:48] knodalyte opened #7 "<Enter> on title line of note causes error"
When a note is displayed and the cursor is in the first line of the note (the title), pressing <enter> causes error messages to appear. It looks like the plugin is attempting to fetch the note again without having been passed the necessary parameters, but it should not be attempting to do this at all.

[2011-05-12 21:35] #5 closed, assigned to mrtazz

[2011-05-13 08:08] #7 closed, assigned to mrtazz

[2011-05-13 08:32] #4 closed, assigned to mrtazz

[2011-05-15 20:52] #6 closed, assigned to mrtazz

[2011-05-19 12:52] #2 closed, assigned to mrtazz

[2011-05-30 10:52] nathyong opened #10 "Simplenote -l crashing on non-ASCII characters"
I have some notes with Japanese and Chinese text in them and the header.

When Simplenote -l attempts to read these, it will crash with the following error:

[code]

Or the following in English

[code]

Would it be possible to change the ASCII codec to something like UTF-8/Unicode in order to have a wider variety of character support?

[2011-06-08 10:51] #10 closed, assigned to nobody

[2011-08-02 20:50] mrtazz opened #12 "New note created from buffer can not be written"
New notes should also be opened in an `acwrite` buffer.

[2011-08-22 16:33] atomicules opened #13 "Add Proxy Support"
Hi mrtazz,

thanks very much for this plugin, I've been wanting to try it since I saw your post on Convore. However, to be truly useful for me I need to be able to use it behind a proxy.

So I thought I'd [fork](https://github.com/i5m/simplenote.vim/commits/develop) and [attempt to add proxy support](https://github.com/i5m/simplenote.vim/commit/8d0a0d9a1d7c8edee3efc28cef62936f36b2b4d4#diff-0) usin

[2011-08-27 12:28] #13 closed, assigned to nobody

[2011-10-10 00:44] jzacsh opened #14 "remove echo error on no-python support"
Can you please remove the echoerr line from this python-support check? Like the debugger.py plugin, its helpful if it just dies silently. If this was a critical utility (not note-taking) then I'd definitely say its super-important we try and help our user/programmer.

https://github.com/mrtazz/simplenote.vim/blob/master/plugin/simplenote.vim#L23-27

For a simple not-taking util, it would be nice i

[2011-10-27 12:41] mrtazz opened #15 "respect pinned status in note ordering"
Pinned notes should appear at the top

[2011-10-27 12:42] mrtazz opened #16 "Implement notes search API"
easy searching of notes from the VIM command line

[2011-10-27 12:44] mrtazz opened #17 "Tests"
there should be tests. Really.

[2011-10-27 12:45] mrtazz opened #18 "cache notes"
Maybe there's a use case for offline access to notes. Caching should be simple, syncing might be the harder part.

[2011-11-01 13:30] mrtazz opened #19 "Vim asks to save open notes"
When there is a buffer with a note, on closing VIM a prompt appears whether to save the note. This is unnecessary, as notes are not stored in the filesystem. Maybe there is a VIM buffer setting to prevent this dialog.

[2011-11-21 23:50] #12 closed, assigned to nobody

[2011-11-23 00:26] #19 closed, assigned to nobody

[2011-11-23 01:15] mrtazz opened #24 "Put more automation into release management"
There is to much to do by hand for a release at the moment:
- bump version
- update Changelog
- merge branches
- tag the release
- push the release
- update vim.org

It should be possible to automate at least some of these points.

[2011-11-24 08:42] ghost opened #27 "[feature request] login:password"
It would be great to have a possibility to enter login:passowrd pair every time Simplenote plugin is launched (in order not to store that data in plain text file and also if using more than one Simplenote account).

Another solution may be to store an encrypted file / database of passwords for all the logins used with that plugin.

Thank you.

[2012-02-09 04:31] #14 closed, assigned to nobody

[2012-02-09 04:33] mrtazz opened #28 "create v0.4.1 release"
placeholder issue to have the milestone closed only when there is an actual release.

[2012-02-13 03:31] mrtazz opened #29 "Updating a non existing note should create a new one"
When trying to update a non-existing note, an HTTP error is displayed. I think it would be better to create a new note instead as this is most likely the intended behavior.

[2012-03-07 10:20] bjoernalbers opened #31 "Error detected while processing function simplenote#SimpleNote"
I received the following error in VIM when running `:Simplenote -l`:

[code]

It might have something todo with the content of my notes as in #10.
I'm running MacVim via Homebrew on Max OS X 10.7.2:

[code]

[2012-06-03 02:10] #31 closed, assigned to nobody

[2012-06-03 03:12] #28 closed, assigned to nobody

[2012-06-25 11:32] mt3 opened #33 "Add vimrc option to setlocal filetype=rst (or other formats)"
My notes are formatted in reStructuredtext, and I imagine others may use Markdown, etc. We should allow for a user-configurable file-format option in one's .vimrc to override the txt default.

[2012-06-28 12:28] 097115 opened #34 "[feature request] sorting"
is it possible to sort not only by modifydate? i personally would welcome sorting by tags (untagged first or last) if that's possible.

thank you.

[2012-09-27 14:09] atomicules opened #37 "Consider increasing NOTE_FETCH_LENGTH to max of 100"
Currently the `NOTE_FETCH_LENGTH` is [set to 20](https://github.com/mrtazz/simplenote.vim/blob/master/autoload/simplenote.vim#L132). By increasing the limit to the max allowable (according to the API docs) of 100 the time taken to list all notes will be reduced.

A quick test of this, loading all my notes (200+):
- NOTE_FETCH_LENGTH = 20, takes 57 secs
- NOTE_FETCH_LENGTH = 100, takes 32 secs

[2012-09-30 04:30] #33 closed, assigned to mrtazz

[2012-09-30 04:57] #37 closed, assigned to nobody

[2012-09-30 06:04] #15 closed, assigned to mrtazz

[2012-10-15 04:38] mrtazz opened #39 "Add an option to open notes directly"
Add an option (maybe -o) to open a note directly by its key. This would allow the creation of shortcut commands for longer living, often accessed notes without having to use the listing.

[2012-10-15 04:39] mrtazz opened #40 "Show tags in list view"
Tags are kind of under represented at the moment. They should definitely appear in the list view and maybe also somewhere in the status line.

[2012-10-20 21:38] #40 closed, assigned to mrtazz

[2012-10-20 23:33] #39 closed, assigned to mrtazz

[2012-10-21 07:19] #34 closed, assigned to mrtazz

[2013-03-18 11:15] jonuts opened #41 "Open in current buffer"
Would it be possible to add an option to open the simplenote buffers in the current buffer and not in a split?

[2013-05-01 22:33] binaryphile opened #43 "Allow multiple notes to be open at the same time"
When I open a note and then want to open another, the original note is no longer accessible.  I'd like to be able to have them open in split panes.

[2013-05-01 22:34] binaryphile opened #44 "Opened note doesn't show up in buffer list"
If I have a note open and move to another buffer, I can't find the note in the :ls buffer list.

[2013-05-20 19:16] 0xgrm opened #45 "Bug with timestamp of updated notes"
Timestamp of newly created notes are corrects.
Timestamp of updated notes are buggy.

A workaround I found is to replace the line 245
with that : note["modifydate"] = int(round(time.time()))

[2013-07-09 21:46] franklinchou opened #46 "Editing notes splits into two unnecessary panes"
When vim starts, either by issuing `vim` or by issuing `vim -c "Simplenote -l"` it always splits the windows equally into two horizontal panes. When accessing a note the screen is further split, showing: one blank pane, one pane listing the notes, and one pane for editing the currently selected note.

Is this normal behaviour? Is there any way to modify this without manually closing the extraneous

[2013-09-10 05:45] hcpeter opened #48 "gVim need to be compiled with python support"
Hi,

When I try to fetch my notes list I get the following error:

`Error detected while processing ..\simlenote.vim:`
`line 17:`
`Simplenote: Plugin needs vim to be compiled with python support.`
`E117: Unknown function: simplenote#Simplenote`

I use Windows7 and gVim.

[2013-09-10 16:34] galadude opened #49 "Markdown syntax"
Hi,
Firstly, thanks for the great plugin. I was wondering if you could make vim highlight the syntax of markdown files. I see that simplenote let's you tick off markdown files, and thought you might be able to access that infomation with the api.  :+1:

[2013-09-11 05:24] #48 closed, assigned to nobody

[2013-09-11 21:02] #46 closed, assigned to nobody

[2013-09-11 21:03] #41 closed, assigned to mrtazz

[2013-09-23 13:05] #44 closed, assigned to mrtazz

[2013-09-30 12:01] #49 closed, assigned to atomicules

[2013-10-14 12:26] #16 closed, assigned to mrtazz

[2013-10-14 22:42] #27 closed, assigned to mrtazz

[2013-10-20 15:16] richard-herron opened #50 "Save to local file to allow compiling markdown to pdf with pandoc"
Is there a way to save the scratch buffer to a local file? If I `:w path/to/file.md` it updates to Simplenote.com rather than creating a local file. I would like to run pandoc on Simplenote buffers but the pandoc.vim executors don't work on scratch buffers.

Is there a handy way to use simplenote.vim with markdown compiling?

[2013-11-14 13:41] #45 closed, assigned to atomicules

[2013-12-23 01:21] #29 closed, assigned to mrtazz

[2013-12-23 01:28] #50 closed, assigned to atomicules

[2013-12-23 01:29] #43 closed, assigned to mrtazz

[2014-01-07 21:12] #17 closed, assigned to atomicules

[2014-01-11 14:11] #24 closed, assigned to atomicules

[2014-01-14 17:57] rumblesan opened #51 "Mention that there is a submodule in the repo so people update it correctly"
So it took me about 20 mins of wondering why I couldn't get the plugin working before I had a look through the history and saw commit cbe046fd that moves over to using a submodule.

Running the necessary commands to init and update it got the plugin working fine, but it would have been nice for there to be some mention of that in the README.

Really basic but might save some time for people later

[2014-02-02 23:37] #51 closed, assigned to atomicules

[2014-02-20 14:38] atomicules opened #52 "Window behaviour screwy in Vim 7.4. Notes open in list index buffer."
At least I think this is due to Vim 7.4.

[2014-02-20 19:52] #52 closed, assigned to atomicules

[2014-08-14 12:07] amontalenti opened #59 ""markdown" filetype gets overridden by "conf" filetype on Ubuntu 12.04"
Even though I set

[code]

When I open notes that are Markdown-formatted and that start with a line like this:

[code]

My vim `filetype` will be set to `conf`. I wondered why this might be; it turns out it's because vim has some logic in the system filetype detection that if it sees a file with a leading "#" as its first char, it'll guess the "configuration" filetype. This is revealed with this:

[2014-09-01 09:45] s5unty opened #60 "[patch] "len" function"
for CJK user, the "title" and "tags" may be contain CJK words.

[code]

after patch:
![after](https://cloud.githubusercontent.com/assets/50655/4106590/c067d2c8-31bb-11e4-939e-94f35d894067.png)

before patch:
![before](https://cloud.githubusercontent.com/assets/50655/4106637/41686eb4-31bc-11e4-937d-ac2c3c8dd2c4.png)

[2014-09-09 20:15] #59 closed, assigned to atomicules

[2014-09-16 20:06] #60 closed, assigned to atomicules

[2015-02-13 19:42] m1foley opened #62 "Deleting note doesn't remove note from list"
Deleting a note (`:Simplenote -D`) should also remove it from the list buffer. It currently leaves it there after deleting, and when I attempt to view the deleted note it leads to an error:

[code]

[2015-02-14 00:10] atomicules commented on #62
I agree. I'm working on a tricky (for me) issue/pull request on
simplenote.py at the moment, but when I've finished with that I'll
take a look at this issue. So could be a couple of weeks until I get
around to it.

[2015-02-15 05:04] m1foley commented on #62
Thanks. This is a really sweet plugin! :+1:

[2015-02-25 21:37] m1foley opened #63 "Use prefixed commands rather than flags"
[fugitive.vim](https://github.com/tpope/vim-fugitive) has easy-to-remember commands like `:Gstatus`, `:Gcommit` and `:Gremove`. If simplenote.vim prefixed all commands with `:Sn` (for example) I wouldn't have to call `:help` to remember which flag I want. The commands would be easy to remember, and if I forgot I could simply type `:Sn` and autocomplete to `:Snlist`, `:Snremove`, `:Sntag` etc.

[2015-02-25 22:30] m1foley commented on #63
I can give this a shot myself when I have time, if you agree that this is worth doing.

[2015-02-25 22:32] m1foley commented on #63
Alternate prefixes would be `:Simplenote` and `:S`. I assume the former is too long, and the latter doesn't have good autocompletion.

[2015-02-25 23:12] atomicules commented on #63
Hi. It's certainly worth thinking about and I'm not against it.
Although I think which approach is better pretty much boils down to
user preference. The only potential downside I see is being overrun
with autocomplete commands (I do find myself overrun with ones
beginning with "G"), but I don't currently have many beginning with
"S".

Perhaps we could keep both approaches? I'll have more of a thin

[2015-03-08 00:10] #62 closed

[2015-03-08 00:13] atomicules commented on #62
Just pushed a fix for this. Forgot to say in the commit message that
as well as removing the entry from the list index buffer we are now
also using `:bdelete` to remove the buffer of the deleted note
- previously it was just "closed" with `:quit`

[2015-05-11 17:58] m1foley opened #64 "Invalid SSL certificate when connecting to server"
`:Simplenote -l` has been failing with "Unable to connect to server" the last few days. When I dug into the simplenote.py code, `Simplenote#authenticate` is raising:

[code]

When I POST to the same URL in curl, it works and returns a token:

[code]

[2015-05-11 18:01] m1foley commented on #64
I am using MacVim on OS X:

[code]

[2015-05-11 18:29] atomicules commented on #64
Interesting. I'm not seeing this issue at all on NetBSD. Have you
updated Python recently? Something that would cause Python not to be
able to find the system SSL_CERT_FILE?

[2015-05-11 20:40] m1foley commented on #64
I fixed this error by reinstalling Python and OpenSSL:

[code]

[2015-05-11 20:40] #64 closed

[2015-05-12 07:57] atomicules commented on #64
Thanks for updating this issue.

[2015-07-20 13:40] alexanderklein opened #65 "Can't install via Vundle"
Hello,

I installed the plugin via Vundle and get the following error message when I try to execute any Simplenote command:

Error detected while processing function simplenote#SimpleNote:
line   45:
E887: Sorry, this command is disabled, the Python's site module could not be loaded.

I also ran git submodule update --init (also I understood that this should not be required when the plugin is bein

[2015-07-20 13:44] atomicules commented on #65
Hi, thanks for the report, I shall take a look. This is odd because I use Vundle, but I probably haven't updated Vundle itself in awhile.

[2015-07-23 12:10] atomicules commented on #65
Hi, sorry for it taking a couple of days to get back to you. I just started from a fresh `~/.vim` directory and a brand new Vundle install and installing Simplenote.vim worked fine, pulling in the submodule automatically.

What platform are you using? Version of Python? What version of python is vim linked against (see output of `:version` in Vim)?

[2015-07-24 07:55] alexanderklein commented on #65
Hi, I find that you were coming back very quickly :-) Thanks for that.

I'm on Mac OS X 10.10.4

I think you are looking for this output:

Compilation: /usr/bin/clang -c -I. -Iproto -DHAVE_CONFIG_H   -F/usr/local/Frameworks -DMACOS_X_UNIX  -Os -w -pipe -march=native -mmacosx-version-min=10.10 -U_FORTIFY_SOURCE -D_FO
RTIFY_SOURCE=1
Linking: /usr/bin/clang   -L. -fstack-protector -L/usr/local/opt/li

[2015-07-26 17:52] atomicules commented on #65
Hi,

I don't know what the problem is yet. I don't think it is anything
specific to Simplenote.vim though. I think it is something to do with
how Vim and Python are linked, but I can't tell what - the version
information from Vim seems like it should be ok.

I'll do some research and reading around and let you know if I
find anything.

[2015-07-27 08:49] alexanderklein commented on #65
Thanks a lot. It seems to be very specific to my system :-(
I will do some research too.

Thanks again.

[2015-07-27 11:38] alexanderklein commented on #65
Okay - I found this discussion:
https://github.com/editorconfig/editorconfig/issues/178

And re-installing vim via homebrew solved the problem. Odd. So, it's indeed not a simplenote specific problem. Sorry for bothering you but now you know at least what to answer if other users experience this homebrew issue with your pugin first :-)

Are you going to close this issue or should I?

Again, thanks

[2015-07-27 12:08] alecthegeek commented on #65
I've just verified this behaviour. Running `brew uninstall --force macvim` followed by `brew install macvim` fixed the problem

[2015-07-27 13:30] atomicules commented on #65
Thanks for updating here Alexander and thanks for the confirmation
Alec. Feel free to close out the issue.

[2015-07-28 07:53] alexanderklein commented on #65
Issue resides in homebrew rather than in the simplenote plug-in.
Re-installing vim / macvim after a python upgrade fixes the problem for the time being.

[2015-07-28 07:53] #65 closed

[2015-08-05 14:51] smarquez1 opened #66 "Support for NeoVim / Vim 8 Async api"
This plugin is amazing, good job!
Any plans for adapting it to NeoVim's async api?

Thanks

[2015-08-05 19:50] atomicules commented on #66
I develop on NetBSD. I see there is a pkgsrc/wip package for Neovim,
but I haven't yet tried it to see if it works (the package looks
fairly active though so I guess should work).

So... I haven't even tried to run Neovim yet, I have no idea about the
async api, but I do have Neovim on my radar and was planning to see
how Simplenote.vim functioned under it at some point.

No plans right now, but h

[2015-08-27 21:59] apazzolini opened #70 "Customize note opening behavior"
Hey, thanks for the great plugin! I was hoping it would be easy to add the ability to make the note open to the right of the scratch window instead of on the left when using vertical split. Additionally, opening a second note causes a third split to appear - it would be nice to customize that to only allow one open note at a time.

Thanks!

[2015-08-28 07:06] atomicules commented on #27
As a belated follow-up, see related #69.

[2015-08-28 08:19] atomicules commented on #70
Do you mean opening a note from the list index? If so then the direction of opening should be determined in your `.vimrc` and is unrelated to Simplenote.vim. I have the following in my `.vimrc`:

    set splitbelow
    set splitright

I could think about that.

[2015-08-28 17:28] apazzolini commented on #70
Oh cool, didn't know about those flags, that takes care of the first one, thanks!

My rationale for the second one is I have an instance of vim permanently open for notes usage. My ideal workflow would be to have the list scratch permanently open and use it to switch between notes (similar to the simplenote web interface).

[2015-08-28 18:21] atomicules commented on #70
Yeah, it makes sense and is a good idea when you put it like that.
I'll not get right to it, but I will start thinking about it.

[2015-09-16 09:22] atomicules opened #71 "Make Python 2 and 3 compatible"
As per the [work done on simplenote.py](https://github.com/mrtazz/simplenote.py/pull/13) should really make sure simpenote.vim is also 2 and 3 compatible.

I'm planning on looking at this either right at the end of this year or the start of next year.

[2015-09-18 20:38] atomicules commented on #70
Hi,

I've just pushed this functionality to a new branch. Please read the
commit comments because the behaviour isn't (and can't be) perfect
because of the way Vim behaves and treats windows and buffers.

I'd appreciate it if you could then test it and see if it works as
you'd expect before I think about merging this in.

I've tested the functionality quite a bit in developing it so I'm
pretty hap

[2015-09-18 20:47] apazzolini commented on #70
Hey dude, thanks for getting to this! The functionality you implemented is exactly what I hoped it would be - I did some testing and everything worked perfectly. Furthermore, I think the behavior that happens when you manually open a split is a feature, not a bug.

- Opening different notes in the same window (obviously)
- Triggering the current note to open again (refreshing with the latest from

[2015-09-18 20:50] atomicules commented on #70
Wow, thanks for reviewing so quick. I still want to wait a little
while before merging in just to see if there is anyway I can
simplify all the if statements I've ended up with.

[2015-09-21 16:39] apazzolini commented on #70
Yup, no worries, least I could do for functionality I requested haha.

And sounds good, I can certainly just keep using the branch in the meantime.

[2015-09-27 11:22] atomicules commented on #70
Couldn't think of anyway to improve this so I've merged it in as is

[2015-09-27 11:22] #70 closed

[2015-10-06 19:58] niekomaatjes opened #72 "Version history shows "undefined""
1) Save a note through simplenote.vim;
2) Make some changes on https://app.simplenote.com/;
3) View Version History there, and move the slider one step left from "Current";
4) The text changes to "undefined".

This behavior is present in the iOS app too, but shows as "Today + seemingly random time" instead of "undefined".

[2015-10-06 20:46] m1foley commented on #72
I'm unable to recreate.

When I create a new note with `:Simplenote -n`, I see this in my web browser and can't drag the slider:

![screenshot](https://monosnap.com/file/PebLnR8mPblLjHn2Mdfot2p0Y3uber.png)

When I then modify the file, the slider behaves as expected: it says the creation time and I can restore.

![screenshot](https://monosnap.com/file/9CPojrwZW5q1SxuGKXHRMlqSB7gtMt.png)

[2015-10-07 12:43] atomicules commented on #72
Also not seeing this. You're not by chance running a really old version of Simplenote.vim are you? Because I seem to recall this used to be an issue, but commits were made to fix it awhile ago.

See:  https://github.com/mrtazz/simplenote.vim/commit/f0fa5c80c35d470779a76ffa728d1fc9f510c5dc and issue #45.

[2015-10-07 13:35] niekomaatjes commented on #72
You're right, I mistakenly thought I had a recent version. Thanks for taking a look!

[2015-10-07 13:35] #72 closed

[2015-10-09 01:48] blueberrycake opened #73 "Reloading a note that's open in the buffer"
Is there a command to reload a note that's already open in the buffer, other than reopening the list of notes and selecting the note again? If not, then this feature would be a convenient addition for those of us who are frequently modifying our notes from multiple devices throughout the day.

[2015-10-09 06:25] blueberrycake opened #74 ""g:SimplenoteSingleWindow" doesn't seem to work"
Setting the SimplenoteSingleWindow doesnt keep Simplenote contained to a single window

Steps to reproduce:

1) Add "let g:SimplenoteSingleWindow = "true"" to .vimrc
2) Open Simplenote list with "Simplenote -l"
3) Select any note
4) The new note will open in a split window

[2015-10-09 08:57] atomicules commented on #74
Hi, I think the problem here is that I've perhaps not named that very well or explained it perfectly in the README. The behaviour you explain is intended.

I.e. with single window mode:

1) Open Simplenote list with "Simplenote -l"
2) Select any note
3) The new note will open in a split window
4) Go back to index
5) Select another note
6) Note opens in the same window the first note was opened in

[2015-10-09 09:12] atomicules commented on #73
Good idea. I'll have a think about this. Really this is how `:Simplenote -u` should behave anyway (it should merge in remote changes).

[2015-10-09 17:15] blueberrycake commented on #74
Thanks, that makes sense. It might be worth adding another option for just using one window for everything and never splitting windows. That's how file selection works in netrw, and its quite handy for reducing window clutter.

[2015-10-09 17:23] blueberrycake opened #75 "Buffer names - Feature suggestion"
It looks like the notekey is used as the name of the buffer, which is ok if you only have one note open, but if you open several notes, and try to switch buffers, it becomes next to impossible to determine which note is which, since the list of buffer names becomes unreadable.

I assume that you are using notekey as buffer name so that you can properly reference the note when its updated. Assuming

[2015-10-09 20:34] atomicules commented on #75
Hi. Yeah, it would be nice to have better titles than the note key.
I'm sure this has come up before, but I can't find anything right now
in the closed issues so perhaps I've seen something before in
someone's fork awhile back.

I have a look into this and a think about it.

Thanks.

[2015-10-20 11:30] atomicules commented on #75
Had another dig through the past issues, commits and network and I can't find anything although I swear I did see a proposal once for something similar to what you are proposing. Adding to my todo list, but I'll look at #73 first.

[2015-11-11 08:35] m1foley opened #76 "Use Semantic Versioning"
[Semantic Versioning](http://semver.org/) is becoming the standard for releasing software. Since Simplenote.vim has been in production for a while now, I suggest setting the version to 1.0.0.

[2015-11-11 08:41] atomicules commented on #76
Yeah, I've been thinking about doing that for awhile. I think I'll try
to get #73 closed out and call it 1.0.0.

On a related note: I could do with doing the same to simplenote.py.
And since simplenote.vim uses that, I should really go do that first.

[2015-11-11 10:15] atomicules opened #77 "Pull in v1.0.0 of simplenote.py"
Of course, need to get that to v1.0.0 first.

[2015-11-24 13:58] atomicules opened #78 "Allow previous versions of note to be retrieved/displayed"
This is going to be especially useful if/when I merge in #73

The functionality is already there in simplenote.py to hook into, just need to think of how to provide the UI for this. I.e another `:Simplenote` command on an already existing note? How to display the current version (Could this tie in with #75? I hope not just yet)? How to make user aware they are viewing an older version? How to rest

[2015-11-24 14:00] atomicules commented on #76
@m1foley I've released simplenote.py at version 1 and I've created a version 1 milestone here for simplenote.vim for everything I want to complete.

[2015-12-03 18:28] oneamtu opened #79 "this plugin is really useful and awesome!"
No issue here, just wanted to say thanks! I've been looking for something like this for a while, and was half-planning on writing my own but this works great! Excited to see where it goes :)

[2015-12-03 18:28] #79 closed

[2015-12-03 19:12] m1foley commented on #79
I agree. I use this plugin every day and it makes my life better. Thanks for writing this. :+1:

[2015-12-09 21:54] atomicules commented on #78
Just pushed a new branch for this issue in a similar vein to issue #73. It just
gives people a chance to see it and stick any thoughts and comments in. It also
gives me time to think it over. In a few days or in a week I'll merge all this
into Master so I can make a version 1.0.0 release.

[2015-12-09 21:58] atomicules commented on #78
Oh, it will hopefully also give me time to write tests for this feature

[2015-12-20 15:18] #77 closed

[2015-12-20 15:28] #78 closed

[2015-12-20 15:29] atomicules commented on #73
There you go, that's v1 out the door so closing this out

[2015-12-20 15:29] #73 closed

[2015-12-20 15:32] atomicules commented on #73
Whoops, that comment was for another, albeit related, issue.

`:Simplenote -u` now updates the current note and merges in remote changes (so you can also use it as a refresh).

[2015-12-20 15:32] atomicules commented on #76
There you go, that's v1 out the door so closing this out

[2015-12-20 15:32] #76 closed

[2015-12-20 17:18] m1foley commented on #76
:tada:

[2015-12-31 15:30] atomicules commented on #75
Added a working solution for this to a separate branch for now. Just having a go at seeing if I can remove the need for having the keys/ids in the buffer names at all. If I can't figure it out I'll merge this into master.

[2016-03-03 08:49] atomicules commented on #75
Should have thought about this and noticed before now: It's no longer possible to have two notes with the same first line (title) open because Vim won't let you have multiple buffers of the same name. This is annoying. Will probably have to append key to title.

[2016-03-06 11:00] #75 closed

[2016-04-20 21:42] andreshazard opened #81 "Issue opening notes"
I'm having issues opening any note FYI.

My vim version has python enabled :

+python/dyn
+python3/dyn

am I missing something ?

Thanks for this awesome plugin!

[2016-04-21 00:46] jonbartlett commented on #81
I am getting the same error when opening selective notes:

`"SN_VIM_notes" [New File]
Error detected while processing function <SNR>95_GetNoteToCurrentBuffer:
line    3:
E16: Invalid range
"SN_VIM_notes [agtzaW1wbGUtbm90ZXINCxIETm90ZRiJk-IHDA]" [Not edited][New file] --No lines in buffer--
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "<string>", line 287, in dis

[2016-04-21 19:34] atomicules commented on #81
Thanks for letting me know. I will investigate and get back to you.

[2016-04-21 22:30] atomicules commented on #81
I've just had a quick look for now and unfortunately can't reproduce the problem. I tried with my normal simplenote.vim configuration and with the default one. I'll have to spend more time investigating it this weekend.

[2016-04-21 22:33] andreshazard commented on #81
@atomicules Let me know if I can help in any way.
Maybe add as a collaborator on the note I'm trying to open or something.

[2016-04-21 22:33] atomicules commented on #81
If either of you have the chance and are able to, I'd be interested to see if you face the same issues with a previous version. I.e version 1.0.0.

[2016-04-21 22:35] atomicules commented on #81
I started trying to make things a bit more clever internally at version 1.1.0 (hence why there have been a few point releases). I'm thinking there might be an issue there I've not come across myself yet.

[2016-04-21 22:43] andreshazard commented on #81
Sure, let me know how to downgrade to the version 1.0.0

[2016-04-21 23:02] atomicules commented on #81
@andreshazard How have you installed simplenote.vim? I'm assuming it's via one of the plugin managers. If so you could git checkout the v1.0.0 tag in the bundle directory. I can provide clearer instructions tomorrow (Friday). I've got dash for now unfortunately.

[2016-04-21 23:36] andreshazard commented on #81
@atomicules I did the checkout and is now  working. Thanks

[2016-04-22 08:01] atomicules commented on #81
Ok, thanks for doing that. That gives me something to work on in figuring out what's broken at 1.1.X

[2016-04-22 08:06] atomicules commented on #81
@andreshazard and @jonbartlett What version of Vim are you using, out of interest? Also, what operating system?

[2016-04-22 08:14] atomicules commented on #81
Notes to self:

Problem seems to be this bit of code in `set_current_note`:

    vim.command(""" silent exe "file %s [%s]" """ % (buffertitle,note_id))

For comparison, at version 1.0.0 the equivalent was:

    vim.command(""" silent exe "file %s" """ % buffertitle)

The E16 error isn't too helpful. Having a quick search it could be related to the vim version or it could be to do with the vim rege

[2016-04-22 13:24] andreshazard commented on #81
@atomicules
_VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Apr  8 2016 14:13:25)_

I'm using Fedora 23.

Let me know if you need anything else

[2016-04-22 14:10] atomicules commented on #81
@andreshazard Which patch version? I.e mine is 7.4.1040

[2016-04-22 14:53] andreshazard commented on #81
@atomicules  For what I see the :version I have _1-1718_
Here is the complete output :

VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Apr  8 2016 14:13:25)
Included patches: 1-1718
Modified by <bugzilla@redhat.com>
Compiled by <bugzilla@redhat.com>
Huge version without GUI.  Features included (+) or not (-):
+acl             +cmdline_compl   +digraphs        +folding         +libcall         +mouse

[2016-04-22 14:55] atomicules commented on #81
Thanks. Yeah the `1-1718` is enough for me to figure out if the error is due to a patch changes in Vim.

[2016-04-22 19:45] atomicules commented on #81
I'm trying to build a more recent version on NetBSD so I can investigate whether the patch level is the issue or not.

[2016-04-22 22:00] atomicules commented on #81
I've just built and tested with patch version 1778 and briefest of testing showed it to be ok. I'll also build 1718 to check.

[2016-04-22 22:57] atomicules commented on #81
Ok, tried 1718 and also works fine so it's unlikely to be a patch level issue. Also tried setting `regexpengine` to `1` and `2` and both work for me so this is getting tricky.

I think I'll have to get a Fedora instance running to check.

[2016-04-22 23:05] atomicules commented on #81
Also tried with the Windows 7.4 release and no problems there either.

@andreshazard Were you definitely seeing this issue on all notes?

[2016-04-23 00:00] atomicules commented on #81
Ok, this is driving me slightly insane now. I spun up a Fedora 22 (23 wasn't readily available) and used the default vim 7.4.640 and I can still open all of my notes that I tried with.

I wonder if there are some settings in your vimrc that are causing a conflict or something?

@jonbartlett I'd really appreciate it if you could also let me know your operating system, version of Vim, etc.

[2016-04-23 14:07] andreshazard commented on #81
@atomicules I was getting the error on all notes, even new blank notes.
You can test with my vimrc, is on my dotfiles.
Let me know if I can so something

[2016-04-23 14:08] atomicules commented on #81
Thanks, I'll have a go with your vimrc and see if that sheds any light.

[2016-04-23 14:19] atomicules commented on #81
@andreshazard Just tested with your vimrc (and also installed the other plugins you use) and no issue.

This is a strange one.

[2016-04-23 17:13] andreshazard commented on #81
It really is @atomicules Let me know if I can help with some testing.

[2016-04-24 00:03] atomicules commented on #81
@andreshazard Thanks for working with me on this. I've just pushed a new branch. You should be able to do a `git fetch --all` and then a `git checkout --track origin/issue81` within the bundle directory like you did to get version v1.0.0. Could you please try that and see if that works?

[2016-04-24 03:05] andreshazard commented on #81
It works @atomicules  =)

[2016-04-24 10:24] atomicules commented on #81
Yay! That's great news @andreshazard. Thanks for testing.

I'll merge this into master and make a new release.

Within the bundle directory you should do a `git checkout master` and then you can run Vundle's `BundleUpdate`.

@jonbartlett I'll close this, but feel free to re-open if it hasn't also fixed it for you.

[2016-04-24 10:24] #81 closed

[2016-05-15 01:36] himnsuk opened #82 "Simplenote: Plugin needs vim to be compiled with python support."
Hi
 I am using vim in console.
 I faced this issue when fetching notes from server.
 I have install ubuntu 16.04, and python 2.7.11
 Couldn't able to figure out the issue.

[2016-05-15 15:46] atomicules commented on #82
Hi. What is the output from `:version` in Vim?

For example, you should see "+python" if Vim is built with python
support and the Linking information at the bottom should show which
python it is linked to.

[2016-05-18 05:21] himnsuk commented on #82
Hi @atomicules ,
I checked :version in the vim. It is showing +python3.

[2016-05-18 06:35] atomicules commented on #82
Ok, at the moment simplenote.vim requires that Vim is built with
python 2 support (+python). The underlying simplenote.py supports 2
and 3 and I plan to make simplenote.vim python 3 compatible as well,
but haven't started work on it yet.

Keep an eye on issue #71

[2016-05-18 07:01] himnsuk commented on #82
Okay, I'll check regularly for fix.
Thanks for quick reply :+1:

[2016-05-27 20:59] atomicules commented on #82
Closing this issue out. I have started making progress on python 3 changes required under the other issue. Hopefully won't be too long until I have it 2/3 compatible.

[2016-05-27 20:59] #82 closed

[2016-06-01 21:50] #71 closed

[2016-07-10 22:48] atomicules commented on #63
Closed by 49ca7787af7e28975eab32265be8194264c15613

[2016-07-10 22:48] #63 closed

[2016-08-08 22:47] sanchon opened #86 "How to save a note to a file?"
I can't find a good way to do it... I've tried `:saveas exported.txt` and `:w exported.txt` but no luck

[2016-08-09 01:08] m1foley commented on #86
I've verified that `:saveas filename.txt` doesn't work for me either. It says "Update successful" but it appears to update the remote Simplenote file rather than saving locally.

[2016-08-10 17:16] atomicules commented on #86
This is intended functionality. See https://github.com/mrtazz/simplenote.vim/blob/master/autoload/SimplenoteUtilities.py#L297

When I want to do this I just yank the buffer contents (ggyG) and paste that to a new buffer and save that. We could add an export command, but personally that seems superfluous given the built in functionality in Vim. Open to opinions though.

[2016-08-11 01:03] m1foley commented on #86
I don't know about the limitations of vimscript you have to deal with, but I was surprised that `:saveas` wouldn't work like that.

I would not support a separate export command because that's also not idiomatic Vim. I'd prefer `:saveas` show an error message if it can't be made to work as expected.

[2016-08-11 01:09] m1foley commented on #86
To clarify, I use other idiomatic Vim commands in my Simplenote notes: `:xa`, `:qa`, etc. I expected `:saveas` and `:w filename` to behave unsurprisingly as well.

[2016-08-13 18:24] sanchon commented on #86
I found a more... let' say... elegant way, in my opinion, using this plugin: [clone](http://www.vim.org/scripts/script.php?script_id=4896) that clones a buffer. I clone the scratch buffer and after that I can save it or whatever without affecting the original one and the plugin.

I often save my notes locally to "evolve" them when necessary into more complicated documents, or to use Pandoc and con

[2016-08-15 21:49] atomicules commented on #86
Still really not sure how I feel about this. Gonna let it stew awhile and think about it.

[2016-09-08 15:38] kiryph opened #88 "Support for vim8 async"
vim8 will be released very soon (http://www.vim.org/). So it also would be great to have async support for vim8 not only for neovim.

[2016-09-08 15:51] atomicules commented on #88
Thanks for the heads up.

[2016-09-08 16:31] kiryph opened #89 "Add netrw mappings in simplenote list window"
I am familiar with many netrw mappings when I view a directory listing. For a complete list of mappings see `:h netrw-quickmap`.

I think quite a few mappings could also be used in a simplenote list window:

- `%` create new note
- `D` delete note
- `R` rename note
- `s` select sorting style: name, creation date, mod date
- `r` reverse sorting
- `mf/mF/mu` to mark/pin or unmark/unpin a note

[2016-09-21 15:40] atomicules commented on #88
Waiting on vim8 for NetBSD/Pkgsrc.

[2016-09-22 07:05] khimanshu11 opened #90 "Error: Unable to connect to server."
When i am trying to use command "Simplenote -l" its giving this error.

[2016-09-22 16:31] atomicules commented on #90
Any proxy/firewall issues?

Are you able to logon using [simplenote.py](https://github.com/mrtazz/simplenote.py)?

[2016-10-03 14:42] skegel13 commented on #90
I am also having this issue. I haven't tried simplenote.py, but I have the Linux Simplenote app and it appears that it is not connecting either (doesn't show all my notes). So I am thinking it may be a server issue with Simplenote.

[2016-10-05 09:55] Blatant22 opened #91 "Unable to list notes with SimplenoteList"
Hi, since upgrading to `1.3.1` receive the following error when trying to list notes (`$HOME` personally entered):
[code]
This error is consistent on `Ubuntu-16.04` and `macOS 10.12` platforms; both are using `python3`.

[2016-10-06 19:54] skegel13 commented on #91
I get this same issue using Linux Mint 17, however, I do not get it using Windows 10.

[2016-10-06 22:01] atomicules commented on #91
Thanks for letting me know. I'll try to re-check the python 3 compatibility. I didn't think I'd broken anything there, but perhaps I did.

[2016-10-06 22:03] atomicules commented on #88
Closing as a duplicate of #66 because that was here first.

[2016-10-06 22:03] #88 closed

[2016-10-07 16:02] elpraga commented on #86
I am now trying to get some Markdown preview working using pandoc - Mainly because the SimpleNote webapp does not render pipe tables.

I do not mind running pandoc from vim and opening the resuolt in a browser, but being able to save a current buffer as a temp file (/tmp/ttt.md) and continue working on the note would be really handy.

I was not able to find out how to do that though.

Am I missing

[2016-10-09 14:16] atomicules commented on #90
Closing this out as I don't think there is anything I can do here to help.

[2016-10-09 14:16] #90 closed

[2016-10-09 14:18] atomicules commented on #86
I think to provide this kind of functionality I'd be looking to get #18 implemented. So... don't hold your breath. I'll leave this open separately for the time being though.

[2016-10-09 14:22] atomicules commented on #89
Not something I plan on working on, but I'll leave this open as an idea if someone did want to provide this functionality.

[2016-10-09 17:17] elpraga commented on #86
Well, I did a __very dirty__ hack to help me.

I added to `.vimrc` the following:

    command PreviewSimpleNoteinHTML 0go <bar> yank10000000 <bar> tabnew <bar> put <bar> write! /tmp/ttt.md <bar> close! <bar> !pandoc -o /tmp/ttt.html /tmp/ttt.md && chromium-browser /tmp/ttt.html

..as you can see, I didn't figure out how to select all the way until the end of the file, so if anybody knows how to d

[2016-10-12 02:59] m1foley commented on #86
@elpraga Here's an improved version of the hack:

[code]

[2016-10-15 16:25] #91 closed

[2016-10-15 16:25] atomicules commented on #91
Sorry for the delay. Snowed under with stuff at the moment.

Fixed, but I don't understand why that wasn't an issue before because it should have been.

[2016-10-18 08:40] Blatant22 commented on #91
Absolutely no worries; had frozen the release at commit `8e9bcb8` so was no consequence for continued use.

Thanks for the fix, and bigger thanks for developing this fantastic (and essential) enhancement to my Vim workflow.

[2016-11-16 20:45] sanchon commented on #86
I think I found a solution, see https://github.com/mrtazz/simplenote.vim/pull/92

[2016-11-16 23:44] atomicules commented on #86
Thanks for the efforts here! I shall try to review soon.

[2016-12-23 23:16] atomicules commented on #86
Closed via #92.

[2016-12-23 23:16] #86 closed

[2017-01-05 21:41] clauseggers opened #93 "E21: Cannot make changes, 'modifiable' is off"
I’m running the latest version on TrueOS (BSD), and I keep getting this curious error when I start Simplenote:
``
Error detected while processing /usr/home/claus/.vim/bundle/simplenote.vim/autoload/simplenote.vim:
line 22:
E21: Cannot make changes, 'modifiable' is off
"Simplenote" [New File]
Press ENTER or type command to continue
``

Any ideas on what is going wrong?

[2017-01-06 07:27] atomicules commented on #93
No, but I have found another issue with the saveas functionality as a result of investigating this. Gah!

What steps are you doing? E.g:

1. Open vim
2. `:SimplenoteNew`
3. Type some text
4. `:w`

(The issue I've just found).

[2017-01-06 07:35] clauseggers commented on #93
What I do is:
1. Open Vim
2. :SimplenoteList
… and that gives me the error as described above.

These are my `.vimrc` options:
[code]

[2017-01-06 07:43] atomicules commented on #93
That is strange. I use SimplenoteList a lot and haven't seen any issues. I'll see if I can reproduce with your `.vimrc` options though.

[2017-01-06 07:46] clauseggers commented on #93
It could very well be a TrueOS issue. It’s a new(ish) distro with cutting edge components.

[2017-01-11 22:06] derteta commented on #93
FWIW, I see this error in my command-line `vim` (8.0, build from the git repo) but not in MacVim (7.4).

[2017-01-15 23:23] atomicules commented on #93
Tried on MacVim 8.0 and don't see this problem. I'll have to go build a 8 version on NetBSD and check there.

[2017-01-16 12:09] atomicules commented on #93
Drat! Just built 8.0.194 on NetBSD and can't reproduce there either. This is a strange one.

[2017-01-21 14:58] emanuk opened #95 "Notes titles are sorted Z-A instead of A-Z when option g:SimplenoteSortOrder="pinned,title"¬"
v1.4.1

I have set this option in my .vimrc

` g:SimplenoteSortOrder="pinned,title"¬`

And although the pinned notes are at the top, all the notes titles are sorted alphabetical descendants (Z-A instead of expected A-Z).

Thanks for the wonderful vim plugin!

[2017-01-22 17:04] atomicules commented on #95
Thanks for the report. I've never used the title sort so hadn't noticed.

It's an easy fix if anyone is interested in working on it - making it A-Z by default makes sense.

A more interesting/challenging addition would be to support things like "-title" and "+title" to reverse sort orders.

I'll leave this open and up for grabs for a little bit before fixing myself.

[2017-02-19 02:55] jtoy opened #96 "slow SimplenoteList?"
love the plugin, starting to use it daily.  Is there a way to cache the notes? Every time  I start vim I go to run SimplenoteList and it takes 15 seconds before I can see the list. I have 170 lists, On mac, I can edit as soon as I open the app.

[2017-02-19 20:49] atomicules commented on #96
Hi,

this is why I tend to date limit my list a lot. I.e. I'm always using
something like ``:SimplenoteList 2017-02-01`

Issue #18 has been there forever and my thoughts are much the same:
I.e conflicted. It would be nice, but I think it'd end up not being
Simplenote.vim.

[2017-02-19 22:12] jtoy commented on #18
+1

[2017-06-11 00:28] Viqsi opened #97 ""tags" sort order actually sorts reverse alphabetically by first tag, not by tag existence"
When including "tags" as a sort key in SimplenoteSortOrder, instead of strictly going by whether or not tags exist (as the documentation says it will), it actually seems to sort in a inverse alphabetical order keyed on the first tag listed ('z' through 'a' followed by 'Z' through 'A'). This can lead to unexpected behavior when changing SimplenoteSortOrder.

If one was going strictly by "tag existe

[2017-06-11 10:47] atomicules commented on #97
Interesting, not read through this enough yet, but I thought it reminding me of something: https://github.com/mrtazz/simplenote.vim/issues/95

[2018-02-06 23:53] mplorentz commented on #93
Same is occuring for me on Arch Linux, vim 8.0.

[2018-02-08 18:37] anselmos opened #98 "Problem with gathering Token at simplenote.py that outputs Error: Unable to connect to server."
I have attached 2 files : Dockerfile.txt and Makefile.txt.

Please remove the extension for files and then:

```make build && make test```

What it does - creates a ubuntu:trusty docker container and adds simplenote.vim and simplenote.py (api) . Then it runs ```vim +SimplenoteList``` within bash of container.

I've created a temporary user for simplenote and added to .vimrc user&password.

The com

[2018-02-11 21:44] atomicules commented on #98
Can you try using [simplenote.py](https://github.com/mrtazz/simplenote.py) and seeing how far you get with that? And then report which version of python you are using with it?

I have a suspicion that since this uses the old version of the API and they decided against releasing the new version of the API it maybe a case of luck whether this now works for folk. I.e. perhaps for newer accounts they

[2018-02-12 09:37] anselmos commented on #98
Ok I will check that, But in the meantime can you guide me to the new API that simplenote has released? So that I could make a PR on [simplenote.py](https://github.com/mrtazz/simplenote.py)
with changes that should be done for the python-api to work with this vim-plugin?

[2018-02-20 09:25] pixelheresy opened #99 "Certain characters now always displayed as HTML entities"
Following some apparent server updates last week, it looks like certain characters always come back as entitles: `&amp;`,`&gt;`, and `&lt;` etc. Even if you save the buffer, the next load or update converts. Most likely happens on the server, but should be (like in the SimpleNote web and app clients) masked.

This is problematic both for Markdown formatting (> means something in md) and perhaps as

[2018-02-20 09:44] pixelheresy commented on #98
It looked like (from Twitter) there were server updates happening for the web client last week. Everything should be working.

However, it does look like they made a change that breaks some aspects of using this plugin, following this server "maintenance": #99

[2018-02-20 10:39] atomicules commented on #99
However... if you set the filetype as markdown it looks like it behaves. Will try to look into this and figure out what they've changed.

[2018-02-20 10:46] pixelheresy commented on #99
Not sure which markdown plugin you have, but I automatically flag all as markdown and it still looks like crap and shows entities as the markup code. Using vim-markdown and believe it is up to date.

[2018-02-20 10:53] atomicules commented on #98
I actually made these branches some time ago (at the time thinking they'd switch to it soon):

- https://github.com/mrtazz/simplenote.py/tree/simperium-using-http
- https://github.com/mrtazz/simplenote.py/tree/simperium-using-lib

Discussed here (with link to the Simperium API): https://github.com/mrtazz/simplenote.py/issues/11

[2018-02-20 11:01] pixelheresy commented on #99
Strange. If I have the buffer open and update it externally, and then `:SimplenoteUpdate` it seems to be correct, but if I close VIM and open up everything without the buffer being open, it is all madness again... Just FYI.

[2018-02-20 11:17] pixelheresy commented on #98
That's the thing. They didn't *announce* anything except for server maintenance. However, when things were back up, the issue seen in #99 appeared.

[tweet referenced](https://twitter.com/simplenoteapp/status/963588833051684864)

[2018-02-25 22:34] atomicules commented on #99
[Fix for this in Simplenote.py](https://github.com/mrtazz/simplenote.py/commit/0c37fb413d26fda1f7c35c25c1195e6950dcbb27). Although I've written a test for it I've not actually done extensive testing of it yet. I'm going to do a bit more testing, then do a new release of Simplenote.py and then a new release of Simplenote.vim.

_I really don't have a lot of spare time anymore hence why I'm much less

[2018-02-26 23:15] atomicules commented on #99
I've bumped the simplenote.py version with the fix. Tomorrow I'll do the simplenote.vim one (hopefully).

[2018-02-27 08:42] pixelheresy commented on #99
Excellent! Thanks! Talked with someone in support from SimpleNote and they were unhelpful, mostly due to the fact that it wasn't happening *in* their app or web client...

[2018-02-28 12:25] #99 closed

[2018-02-28 12:26] atomicules commented on #99
That auto-closed with that commit ^. _Should_ all be sorted now.

[2018-03-04 13:34] #97 closed

[2018-03-04 13:34] atomicules commented on #97
And less than a year later!

[2018-04-04 09:01] raisin-loaf opened #100 "SimplenoteListHeight Doesn't Appear To Do Anything"
I've got a feeling this is more a case of me not understanding how the feature is supposed to work but the list view doesn't seem to change when I set SimplenoteListHeight. Regardless of the number I pick the list always opens in a full height window. Could you possibly explain what this option is supposed to do please? I thought setting it to something like 20 would reduce the screen real estate

[2018-04-08 21:38] atomicules commented on #100
Hi! There isn’t a `SimplenoteListHeight`, but there is a `SimplenoteListSize` that _should_ do what you are expecting (in horizontal or vertical mode).

Off the top of my head I’m guessing it used to be called `SimplenoteListHeight`, but we changed it when it became possible to use a vertical split. Did you find an old doc reference to `SimplenoteListHeight` somewhere?

[2018-04-09 09:54] atomicules commented on #100
Ha! Err... you know how you look for something, but just can’t see it... well, I did that yesterday.

I’ll get that fixed. Thank you for pointing that out.

[2018-04-09 13:19] raisin-loaf commented on #100
Absolutely. That's 80% of my working day. How many times do you I think searched that file before daring to post that? ;)

Thanks again!

[2018-08-14 07:46] #100 closed

[2018-09-30 11:00] atomicules commented on #96
This is now (in my mind) a much more legit issue because with the switch to Simperium we lose the use of `since`. So having to fetch all notes is slow and is going to bug me. So need to figure out a better way to do this.

[2018-09-30 11:01] atomicules commented on #98
We've now switched to the Simperium API so would be interested to now if these auth issues, etc have gone away.

[2018-10-19 18:57] m1foley opened #101 "Unusable from recent commits"
`:SimplenoteIndex` and `:SimplenoteUpdate` both give this error after I updated from `eb14cbe`:

[code]

---

Version info:

[code]

[2018-10-19 20:19] atomicules commented on #101
Interesting... thanks for letting me know. I shall take a look.

Looks like I still have a rogue `since` knocking about.

[2018-10-20 18:03] atomicules commented on #101
@m1foley Can you please try [the release](https://github.com/mrtazz/simplenote.vim/releases/tag/v2.0.2) I've just pushed?

If you are still having issues can you provide a bit more info on what's going on? Does nothing work? Is it certain notes it's struggling with?

I'll check it's not a Python3 thing in the meantime...

[2018-10-20 18:12] atomicules commented on #101
I still had a build of vim knocking about with Python 3.4 and a quick check with that proved ok.

[2018-10-23 17:46] m1foley commented on #101
Verified the latest code works now. Thanks again for his life-changing plugin!

[2018-10-23 17:46] #101 closed

[2018-10-24 13:25] traut opened #102 "Is there notes list update command?"
I noticed that the list of notes i not updated when new note is created or note list is changed on the server. Is there a command I can trigger manualy to refresh the notes list?

[2018-10-25 13:11] atomicules commented on #102
`:SimpleNoteList` will update the list... but it can be slow if lots of notes. I am going to look into caching this soon to speed this up.

[2018-10-25 13:15] traut commented on #102
that command will also open new list in the new window 😞

[2018-10-25 13:16] atomicules commented on #102
Hmmm... depends how things are setup. The [single window setting](https://github.com/mrtazz/simplenote.vim#single-window-mode) should do what you want.

[2018-11-05 18:15] #96 closed

[2018-11-05 18:15] #102 closed

[2018-11-05 23:48] atomicules commented on #98
Whoops ^ that commit was not meant to reference this issue. Picked the wrong one.

Previous comment still applies though.

[2018-11-05 23:49] atomicules commented on #18
Meant to reference this issue with this commit: https://github.com/mrtazz/simplenote.vim/commit/a5611663362dbbd22ae9be504de04032a92c2a3e

[2019-01-09 01:21] m1foley opened #103 "Authentication stopped working"
`Simplenote#authenticate` started raising an exception when I log in. I'm guessing Simplenote changed their API because simplenote.vim hasn't changed in a while, and I've verified my user/pass still works via the Simplenote Mac app and their website.

The only info I could find from `HTTPError` is `400 BAD REQUEST`.

[2019-01-09 07:02] atomicules commented on #103
Weird... I have seen some intermittent issues recently, but none that
persisted. Just checked now and I am getting a `Login Failed` in
simplenote.vim and yet doing something direct in simplenote.py worked.

Strange.

[2019-01-09 09:38] atomicules commented on #103
This is odd. Will probably need to contact Simplenote/Simperium... wonder if our API token has been revoked?

[2019-01-09 09:47] atomicules commented on #103
Boo hiss...

[code]

Will have to ask Simplenote/Simperium about it. Rate limiting for auth is... annoying.

For simplenote.vim I could definitely look to cache an auth token.

[2019-01-09 10:01] atomicules commented on #103
As a work-around... I could add a setting so we can provide an auth token from elsewhere (the web app) and use that if available.

[2019-01-09 13:16] atomicules commented on #103
I'm thinking something like that ^

Although will look to cache a token as well.

[2019-01-16 07:49] atomicules commented on #103
Simplenote support had a look and found this:

I have also learnt the tokens have no expiry though so I will work on adding caching asap.

[2019-02-12 23:07] louwers commented on #103
Also getting 'Login Failed' with correct login details.

[2019-02-13 07:33] atomicules commented on #103
If that's still happening then your only option is obtain a token from elsewhere (i.e the web app) and use it with that branch I've pushed. See the commit comment for how to get that token.

Still working on merging that in and caching a token (which I can do so we can manually edit that "cache" and add a token from elsewhere).

[2019-03-03 16:33] atomicules commented on #103
Once I've bumped simplenote.py to handle errors from invalid tokens ^ and then made changes here I think we can close this out.

[2019-04-08 10:16] atomicules commented on #103
Closing this out now with: https://github.com/mrtazz/simplenote.vim/commit/c79ca3f982b3cfe547d93e42907f1b1f527ebd82

[2019-04-08 10:16] #103 closed

[2019-05-01 20:22] m1foley opened #104 "No error handling on `SimplenoteOpen`"
I get the following error when I call `:SimplenoteOpen` with an invalid note key:

[code]

FWIW, I tried to use it like `:SimplenoteOpen Todo` before I read the documentation. Even simple error handling ("notekey not found") would help with discoverability.

[2019-05-01 20:35] m1foley opened #105 "Populating the note after opening the split should reset the undo history"
To recreate:
1. `:SimplenoteList`
2. Press Return to open a note. The cursor is now in a new split, which has been populated with the note data.
3. Press `u`

Expected behavior: Nothing should happen.
Actual behavior: It clears the buffer.

I experienced this after pressing `u` a few times to undo my changes to the note. My intention was to restore the original note, but the behavior caused me to

[2019-05-02 19:31] atomicules commented on #104
Sounds like a reasonable request. Will add to my todo list.

[2019-06-14 14:26] ggsalas commented on #74
Hi, any updates on this? Thanks!

[2019-06-17 14:46] atomicules commented on #74
@ggsalas latest update is that this isn't something I plan on working on (for me, the current "single" window mode works as expected), but it's there for anyone else who fancies working on it.

_Unless someone can articulate/adjust the intent of this issue slightly differently... I can see how having a collapsible sidebar might be useful_

[2019-07-01 12:24] #104 closed

[2019-08-02 15:13] alechstong opened #106 "ImportError: No module named simplenote"
I installed simplenote.vim using Vim Plug.
my python version is 3.7.4.
vim version: 8.1.1776

I tried `pip install simplete`, but it doesn't make any difference. I have it working on my desktop with very similar setup, but it is not working on my laptop.

Please help.

The following is the error output when I ran `:SimplenoteList`
[code]

[2019-08-03 10:01] atomicules commented on #106
Hi. Simplenote should get installed via a git submodule. It's possible Vim Plug doesn't support that. I shall do some investigation and get back to you.

[2019-08-03 16:08] alechstong commented on #106
Hi atomicules,

Thank you for your prompt reply. Here is my [vimrc](https://paste.ee/p/gxiPN) in case you wanna take a look.

[2019-08-03 16:39] alechstong commented on #106
Hi atomicules,

I managed to get it working again.

Here's what I did if anyone's interested:

1. remove all plugins from vimrc, source it and run `:PlugClean`

2. reinstall simplenote.vim, and see if it is working. (In my case, it is)

3. install the rest of the plugins  one by one, and see if any of them causes the error. (I was expecting that one of them would trigger the error, but none of the

[2019-08-05 12:20] atomicules commented on #106
Ok. Glad to hear it's working! I'll close this out.

[2019-08-05 12:20] #106 closed

[2019-09-10 18:17] m1foley opened #107 "Missing indicator for pinned status"
Simplenote usually prepends a circle to the title of pinned notes. For parity the Vim plugin should have this indicator as well.

Simplenote appears to use images, not characters, to render the circles. The web interface renders them with CSS.

Ideas for implementing this in the Vim plugin:
- Prepend title with *
- Prepend title with a symbol like ⊙ or  ·
- Add a new column next to the tags

[2019-09-11 06:27] atomicules commented on #107
We already have this thanks to https://github.com/mrtazz/simplenote.vim/pull/57/

I use that and it works great.

[2019-09-20 22:36] #107 closed

[2019-09-20 22:52] m1foley opened #108 "Right justification breaks when 'number' is enabled"
When`%>` is included in `g:SimplenoteNoteFormat` (which is the default behavior) it doesn't right-justify properly when the `number` option is enabled.

`set number` is in my vimrc, and when I execute `:SimplenoteList` the lines extend offscreen by 5 characters or so. `:set nonumber` fixes the formatting.

[2019-10-04 10:36] atomicules commented on #108
This feels vaguely familiar. Like I've come across this myself and perhaps decided to live with it and/or decided it couldn't be fixed... not sure. Will try to take a look soon.

I think I know what you mean though.

[2019-10-04 10:39] atomicules commented on #108
Ah yeah, I mentioned that on this commit: https://github.com/mrtazz/simplenote.vim/commit/f7debaf1cf6fc7fd1b771ee9278829b07cf4b0e9

but I'm not sure if it should.

Will take a look at this again.

[2019-10-15 17:10] atomicules commented on #108
I've got a fix for this. Going to push it and a new release once https://github.com/simplenote-vim/simplenote.py/pull/27 is all sorted and merged in as well.

[2019-10-18 15:09] #108 closed

[2019-10-18 15:10] atomicules commented on #108
Ok, change of plan, pushed a fix for this now since the simplenote.py changes are going to take longer than I thought.

[2019-11-28 14:17] alechstong opened #109 "Stuck at :SimplenoteList in WSL(2)"
I am running Ubuntu 18.04 in WSL 2. I tried nvim and vim.nox (for python support) from the official repo. They all freeze at :SimplenoteList command. However, :SimplenoteNew works fine.

I'm using simplenote.vim in windows at the moment. Would be nice to be able to use it also in WSL.

[2019-11-28 16:07] atomicules commented on #109
What's WSL?

[2019-11-28 16:13] atomicules commented on #109
Also... is it definitely freezing? If you have a lot of notes it could just be it's taking a long time to load them the first time.

[2019-11-28 17:41] alechstong commented on #109
WSL = Windows Subsystem for Linux.
aka.ms/wsl2

I am using simplenote-vim in linux and windows. It is working perfectly in both platforms.

The project I’m currently working on is being developed in Linux and debugged in windows. That’s why I am running WSL.

And it is definitely freezing. I left it running for several hours, and I had to terminate the terminal window. I will attach some screensho

[2019-12-03 10:09] atomicules commented on #109
Ok, thanks. I'm going to struggle investigating this one myself because:

1. I'm really struggling to find any time at the moment to work on "stuff"
2. I no longer have access to any Windows machines

Maybe I can spin up a Windows machine on Azure and install WSL? I don't know yet.

[2020-08-31 11:21] nilsi opened #111 "Vim hangs when trying any command"
I'm running Vim 8.1.2292 and installed the Simplenote plugin with Vundle.

When I run any command such as SimplenoteVersionInfo or SimplenoteList the tab is hanging and I cant do anything more than closing the tab.

I have my credentials in a separate file and source it in the top of .vimrc

`source ~/.simplenoterc`

I have been using Simplenote for a couple of years and have many notes in there b

[2020-08-31 15:54] atomicules commented on #111
Hmm... probably the best initial thing to do from a debugging point of view is try simplenote.py in a Python REPL and just see if you can authenticate and list notes, etc. Then depending on how that works out we can move back to Vim.

It should in that if you try it on a blank buffer it should just say "This isn't a Simplenote".

Even if you had a stack of notes and it genuinely was taking a long

[2020-09-04 13:48] nilsi commented on #111
I tried the python library by cd into `vim/bundle/simplenote.vim/autoload/simplenote.py` open up a python promp and then:

[code]

It works fine. My current guess is that something is wrong in simplenote.vim

Maybe python does not work properly in vim or something:

I do not even seem to reach SimpleNoteNew function in the simplenote.vim script. I tried doing the following:

[code]
But I got nothi

[2020-09-05 15:29] atomicules commented on #111
Odd. Fwiw, using vim 8.2.303 here compiled against Python 3.

Could you try running with a debug log and see if that shows anything interesting?

[code]

[2020-09-18 07:50] nilsi commented on #111
I tried on a different Mac I got it working without problem. Comparing the vim installations by :version I could see that my computer that it worked on had +python3. The other computer had the default vim installed in osx. So I ran brew install vim and it works now.

Maybe I should have tried that earlier. I thought when it says +python for the vim version it would be using python2.7, maybe thats

[2020-09-18 07:50] #111 closed

[2020-09-21 16:22] atomicules commented on #111
Thanks for reporting back!

[2020-11-19 07:49] Andrea-Augello opened #112 "SimplenoteOpen does not evaluate input"
With the new Simplenote update it is now possible to use internal links. To make use of that feature, I tried to build a custom command that yanks the id in the link, and then calls `SimplenoteOpen @"`. However (adding a print inside the python function) I discovered that the @" is used verbatim, even if vim.eval() is called on the function argument.

Is there any way to do something like that? I

[2020-11-19 08:19] Andrea-Augello commented on #112
Update: I managed to cobble up this function that goes to the next Simplenote internal link, yanks the note id, and opens the note in a new split, restoring the previous content of the yank buffer.
I added it to my simplenote.vim file and it seems to work fine. I'll open a pull request.

`		function! SimplenoteGoFun()
			let temp = @"
			norm /simplenote://t)yiw
			let noteid = @"
			let @"=temp

[2021-03-05 16:43] atomicules opened #114 ":SimplenoteList doesn't remove deleted notes if deleted outside of Simplenote.vim"
_I'm trying to find some time to get back into this_

Anyway, in the meantime I had a huge note clean-up recently and deleted hundreds of notes (I still have hundreds left, but was well over a thousand).

I've noticed that `:SimplenoteList` didn't remove any of the notes from the list I'd deleted (since we adding caching of that list).

In looking into this a bit more I think this might be a bug/l

[2021-04-24 12:19] joaogarcia opened #115 ".cache/snvim instead of .snvim"
Wouldn't it be cleaner and more standard to store the cache file in the .cache folder instead of the user home?

[2021-04-24 15:57] atomicules commented on #115
Yep. That makes sense.

Struggling to find any time to work on this at the moment though. Haven't given up all hope just yet.

[2021-04-27 21:06] atomicules commented on #112
I'm closing this on on the basis that https://github.com/simplenote-vim/simplenote.vim/pull/113 has been merged in. If I'm missing something else though please re-open.

[2021-04-27 21:06] #112 closed

[2021-06-29 06:42] ChefYeum opened #116 "Random note 'd|..' displays at line 1"
Every time I open the plugin, it seemingly displays a random note that I didn't create.

The Vim output from `SimplenoteList` looks like the following:
[code]
In the above output, `d|Invoice` in Line 1 is not a valid note I generated.

Opening this note outputs the following error:
[code]

[2021-06-29 11:17] atomicules commented on #116
Seems to be linked to this: https://github.com/simplenote-vim/simplenote.vim/blob/3ad229235fbb1a0ace5f8dec381181e62a43f304/autoload/SimplenoteUtilities.py#L159

From what you've posted looks like note 1 and 3 are the same. Not sure why it's display twice though.

I'll try to warm up my brain and see if I can reproduce.

Thanks for the report!

[2021-06-29 11:39] ChefYeum commented on #116
@atomicules Please let me know how you get on.

[2021-06-29 11:42] ChefYeum commented on #116
On a different note, may I ask how you set up your debugger for Vim scripts written in Python? I believe I can't just use ordinary debuggers from an IDE?

If I can get the debugger working, I think it will be easier for me to have a look at the issue myself.

[2022-08-27 19:23] MadoScientist97 opened #117 "Is it possible to set a custom path where the cache could be stored persistently cache on disk."
The question basically, want to know if it is possible to set a custom path where the note contents would be cached on disk. Or would it be feasible to sync the simplenote files from another set of files in a custom folder? I ask this because then I can link the simplenote files/objects from within vimwiki, and with that if I have taskwiki, I would be able to update my task list just by syncing up

[2022-09-04 19:27] atomicules commented on #117
Hi. Sorry for the delay in replying.

The cache simplenote.vim uses is a "lightweight" one and doesn't include the actual note content. It would be possible to support storing this in another location.

This issue covers caching actual note content: https://github.com/simplenote-vim/simplenote.vim/issues/18. I've erred on the side of not caching the full content of notes because I think that is be

[2022-09-04 19:30] atomicules commented on #117
Also see https://github.com/simplenote-vim/simplenote.vim/issues/115

[2022-09-07 07:27] verajosemanuel commented on #93
same error here . Using Arch

[2022-10-02 12:59] MadoScientist97 commented on #117
Thanks! Will take a look at those.